@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

body{
    font-family: 'Baloo 2', cursive;
}

.loginType{
    width: fit-content;
    padding: 5px;
    background: rgb(255, 219, 60);
    border: solid 1px rgb(85, 69, 55);
    text-align: center;
    display: inline-block;
}

.loginType:hover{
    background: rgb(97, 228, 233);
    cursor: pointer;
    transition: 1s ease;
}