@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

body{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html{
    overflow-x: hidden;
}

header{
    position: relative;
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
}
/* menu */
.menu{
    position: sticky;
    top: -2px;
    width: 100%;
    text-align: center;
    background: #c3e2dd;
    margin: 0;
    z-index: 100;

}

.menu ul{
    list-style: none;
    height: 42px;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #2d7983;
}

.menu ul li{
    display: inline-block;
    text-decoration: none;
    padding: 0 10px;
    height: 42px;
    line-height: 42px;
}

.menu ul li:hover{
    background: rgb(45, 121, 131) !important;
    color: #fff  !important;
}

.user{
    width: fit-content;
    text-align: right;
    position: absolute;
    top:5px;
    right: 15px;
    z-index: 1000;
}

.user span{
    padding: 3px 5px;
}

section{
    width: 100%;
    padding: 30px 0;
    box-sizing: border-box;
}

section header{
    text-align: left;
    padding: 10px 30px;
}

#myRoute{
    padding: 2px;
    width: fit-content;
    -ms-transform: translate(60px, 0);
    -webkit-transform: translate(60px, 0);
    transform: translate(60px, 0);
    font-weight: normal;
}

#inform{
    width: fit-content;
    -ms-transform: translate(60px, 0);
    -webkit-transform: translate(60px, 0);
    transform: translate(60px, 0);
}

#add article{
    padding: 5px 10px 60px 60px;
    position: relative;
    float: left;
    width: 27%;
}

#add{
    display: none;
}

#add_button{
    font-family: 'Noto Sans TC', sans-serif !important;
    padding: 5px 10px;
    border-radius: 7px;
    width: fit-content;
    font-size: 15px;
    background: #d3e6e2;
    color: #2d7983;
    -ms-transform: translate(60px, 0);
    -webkit-transform: translate(60px, 0);
    transform: translate(60px, 0);
}

#add_button:hover{
    background: #c3e2dd;
    cursor: pointer;
}

#add button{
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    padding: 2px 5px;
}

button{
    font-family: 'Noto Sans TC', sans-serif !important;

}

.submsg{
    width: fit-content;
    height: fit-content;
    background: #dacdb6;
    display: inline-block;
    padding: 2px;
    margin: 2px;
    /*border: solid 1px black;*/
}

.submsg:hover{
    cursor: pointer;
    background: #ffd270 !important;
}

.route{
    width: 80%;
    box-sizing: border-box;
    -ms-transform: translate(60px, 0);
    -webkit-transform: translate(60px, 0);
    transform: translate(60px, 0);
    padding: 20px 0;
    overflow-x: auto;
    white-space: nowrap;
}

.routes{
    overflow-x: scroll;
}

.tr_type{
    padding: 5px 17px;
}

.st_name{
    padding: 2px 4px;
    background: #dacdb6;
    border-radius: 3px;
}

.space{
    width: 10px;
    height: 100%;
    opacity: 0;
}

.seq{
    width: 20px;
    height: 20px;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    background: #ffc75f;
    display: inline-block;
}

.nb{
    padding: 0 20px 0 0;
    border: thin 1px black;
}

.route_result{
    display: none;
    padding: 30px 0;
}

.route button{
    display: inline-block;
    -ms-transform: translate(10px, 5px);
    -webkit-transform: translate(10px, 5px);
    transform: translate(10px, 5px);
}

.subresult .subsubresult{
    width: 100px;
    text-align: center;
    display: inline-block;
}

.title{
    width: 100px;
    text-align: center;
    display: inline-block;
}

.seq_res{
    width: 350px;
    text-align: center;
    display: inline-block;
}


.subsubresult:nth-child(2n){
    background: #f6f0d3;
}


.title:nth-child(2n){
    background: #f6f0d3;
}

.interval{
    color: #d4550b;
}