<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>大眾運輸整合系統</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/login.js')}}"></script>
    <link href="{{ url_for('static', filename='css/login.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
    <section>
        <header>大眾運輸整合系統</header>
        <div class='loginType' id="b_type1">Create account</div>
        <div class='loginType' id="b_type2">Already have an account</div>
        <!-- create account -->
        <form>
            <p>User <input type="text" id='c_user' autocomplete="off"/></p>
            <div classs='msg' id="c_user_msg">Upper limit 8 words</div>
            <p>Password <input type="password" id='c_pwd' autocomplete="off"/></p>
            <div classs='msg' id="c_pwd_msg">Upper limit 8 words</div>
            <p>Confirm Password <input type="password" id='c_pwd_confirm'/></p>
            <div classs='msg' id="c_pwd_confirm_msg"></div>
            <button type="button" id="sub1">Done</button>
        </form>
        <!-- login -->
        <form>
            <p>User <input type="text" id='user' autocomplete="off"/></p>
            <p>Password <input type="password" id='pwd' /></p>
            <button type="button" id="sub2">Login</button>
        </form>
    </section>
</body>
</html>